In [91]:
lst_line =[]
with open("test.txt") as f:
    line = f.readline()
    while line:
        lst_line.append(line[:-1])
        line = f.readline()
lst_line[0]

'W/CW/7069-127.jpg'

In [94]:
lst_submit =[]
with open("test.txt") as f:
    line = f.readline()
    while line:
        lst_submit.append([line[:-1],0])
        line = f.readline()
# pd.Dataframe(lst_submit)

In [98]:
df1 = pd.DataFrame(
    data={'a': lst_line, 
          'b': lst,
          }
)
 
df1.to_csv("submission.csv",header=False,index=False)

In [99]:
lst_line[0]

'W/CW/7069-127.jpg'

In [100]:
df1

                      a  b
0     W/CW/7069-127.jpg  0
1     W/CW/7069-128.jpg  0
2     W/CW/7069-147.jpg  0
3     W/CW/7069-148.jpg  0
4     W/CW/7069-149.jpg  0
...                 ... ..
4528  W/UW/7140-122.jpg  0
4529  W/UW/7140-123.jpg  0
4530  W/UW/7140-124.jpg  0
4531  W/UW/7140-125.jpg  0
4532  W/UW/7140-126.jpg  0

[4533 rows x 2 columns]

In [65]:
X=[]
Y=[]
for i, filename in enumerate(lst_line):
    img = cv2.imread(filename)
    X.append(img)
X = np.array(X) / 255.0

In [66]:

Y=loaded_model.predict(X)

142/142 [==============================] - 17s 104ms/step

In [69]:
lst=[]
for i in range(len(Y)):
    lst.append(np.argmax(Y[i]))

In [73]:
np.sum(lst)

0

In [ ]:
# 画像分類段階

In [3]:
import pandas as pd
df = pd.read_csv("train_label.csv",header=None)
x, y = df[0].to_list(), df[1].values

In [4]:
df[1].sum()

248

In [5]:
df_s = df.sort_values(1)
df_a, df_b = df_s[:13605-248], df_s[13605-248:]
x_a, y_a = df_a[0].to_list(), df_a[1].values
df_a

                      0  1
6802   W/UW/7098-58.jpg  0
9019  W/UW/7111-165.jpg  0
9020  W/UW/7111-166.jpg  0
9021  W/UW/7111-167.jpg  0
9022  W/UW/7111-168.jpg  0
...                 ... ..
4968   W/UW/7083-14.jpg  0
4472  W/UW/7079-156.jpg  0
4473  W/UW/7079-157.jpg  0
4471  W/UW/7079-155.jpg  0
4559   W/UW/7080-56.jpg  0

[13357 rows x 2 columns]

In [6]:
x_b, y_b = df_b[0].to_list(), df_b[1].values
df_b

                       0  1
11881  W/UW/7130-210.jpg  1
11882  W/UW/7130-211.jpg  1
6746   W/UW/7097-237.jpg  1
4944   W/UW/7082-226.jpg  1
13511  W/UW/7140-152.jpg  1
...                  ... ..
10561    W/UW/7122-4.jpg  1
10566   W/UW/7122-15.jpg  1
10569   W/UW/7122-18.jpg  1
5495   W/UW/7088-209.jpg  1
0        W/CW/7069-3.jpg  1

[248 rows x 2 columns]

In [7]:
import cv2
import os
for i, filename in enumerate(x_a):
    img = cv2.imread(filename)
    cv2.imwrite(os.path.join("data/0_なし", f'{i}.jpg'), img)
for i, filename in enumerate(x_b):
    img = cv2.imread(filename)
    cv2.imwrite(os.path.join("data/1_あり", f'{i}.jpg'), img)

KeyboardInterrupt:

In [8]:
# trainとtest
import numpy as np
import tensorflow as tf
import glob

X_train = []
y_train = []
X_test = []
y_test = []

for f in glob.glob("data/*/*.jpg"):  
    img_data = tf.io.read_file(f)
    img_data = tf.io.decode_jpeg(img_data)
    if f.split("/")[1] == "0_なし":
        if int(f.split("/")[2][:-4]) % 5 == 0:
            X_test.append(img_data)
            y_test.append(0)
        else:
            X_train.append(img_data)
            y_train.append(0)
    elif f.split("/")[1] == "1_あり":
        if int(f.split("/")[2][:-4]) % 5 == 0:
            X_test.append(img_data)
            y_test.append(1)
        else:
            X_train.append(img_data)
            y_train.append(1)
    
X_train = np.array(X_train) / 255.0
y_train = np.array(y_train)
X_test = np.array(X_test) / 255.0
y_test = np.array(y_test)

In [ ]:
s="a.jpg"
s[:-4]

In [27]:
model = tf.keras.models.Sequential([
    tf.keras.layers.Flatten(),
    tf.keras.layers.Dense(64, activation="relu"),
    tf.keras.layers.Dropout(0.2),
    tf.keras.layers.Dense(2, activation="softmax")
])

In [28]:
model.compile(optimizer="adam", loss="sparse_categorical_crossentropy",metrics=["accuracy"])
model.fit(X_train,y_train,epochs=10)

Epoch 1/10
341/341 [==============================] - 181s 519ms/step - loss: 1.9987 - accuracy: 0.9707
Epoch 2/10
341/341 [==============================] - 49s 145ms/step - loss: 0.0977 - accuracy: 0.9818
Epoch 3/10
341/341 [==============================] - 42s 123ms/step - loss: 0.1036 - accuracy: 0.9818
Epoch 4/10
341/341 [==============================] - 44s 130ms/step - loss: 0.1037 - accuracy: 0.9818
Epoch 5/10
341/341 [==============================] - 33s 97ms/step - loss: 0.1052 - accuracy: 0.9818
Epoch 6/10
341/341 [==============================] - 34s 101ms/step - loss: 0.1043 - accuracy: 0.9818
Epoch 7/10
341/341 [==============================] - 58s 169ms/step - loss: 0.1038 - accuracy: 0.9818
Epoch 8/10
341/341 [==============================] - 32s 94ms/step - loss: 0.1042 - accuracy: 0.9818
Epoch 9/10
341/341 [==============================] - 34s 101ms/step - loss: 0.1039 - accuracy: 0.9818
Epoch 10/10
341/341 [==============================] - 29s 85ms/step - loss: 0.1080 - accuracy: 0.9818

In [29]:
import pickle
filename="model.pkl"
pickle.dump(model,open(filename,"wb"))

INFO:tensorflow:Assets written to: ram://89adf07b-b3f3-46b4-99d3-2427929eec5e/assets

In [40]:
from sklearn.metrics import f1_score
loaded_model = pickle.load(open("model 2.pkl","rb"))
y_pred = loaded_model.predict(X_test)
print(y_pred)

86/86 [==============================] - 4s 38ms/step
[[0.97808677 0.02191323]
 [0.9764642  0.02353574]
 [0.98394245 0.01605754]
 ...
 [0.9898717  0.01012839]
 [0.9903287  0.00967128]
 [0.9913959  0.00860413]]

In [43]:
np.argmax(y_pred[1])

0

In [41]:
lst=[]
for i in range(len(y_pred)):
    lst.append(np.argmax(y_pred[i]))

In [46]:
sum = 0
for a,b in zip(np.array(lst), y_train):
    if a == b:
        sum += 1
print(sum/len(lst))

0.9272593681116826